html {
  background: rgb(245, 242, 242);
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  margin-right: 0;
  padding-right: 0;
  scroll-behavior: smooth;
}

body {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
  margin-right: 0;
  padding-right: 0;
}

.body {
  width: 100vw;
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: -1;
}

#name {
  font-family: 'IBM Plex Mono', monospace;
  font-style: italic;
  font-size: 6vh;
  color: rgb(125, 114, 114);
}

#space {
  font-family: 'IBM Plex Mono', monospace;
  font-style: italic;
  font-size: 2vh;
}

#top {
width: 86vw;
height: 8vh;
display: flex;
flex-direction: row;
align-items: center;
padding-left: 6vw;
padding-right: 6vw;
padding-top: 2vw;
position: absolute;
  }

#title {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#contact {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 3vh;
  right:4vw;
  color: rgb(125, 114, 114);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  height: auto;
  position: absolute;
  justify-content: flex-end;
  align-items: flex-end;
}

#links {
  color: rgba(125, 114, 114);
  text-decoration: none;
}

#links:hover {
  color: rgba(125, 114, 114, 0.3);
  text-decoration: none;
}

#left {
  height: 100vw;
  width: 35vw;
  margin-left: 9vw;
  margin-right: 5vw;
  word-wrap: normal;
}

#right {
  height: 100vw;
  width: 35vw;
  margin-left: 5vw;
  margin-right: 9vw;
}

#spacer-ss {
  height: 25vw;
}

#spacer-dm {
  height: 40vw;
}

#spacer-sb {
  height: 40vw;
}

#spacer-jbi {
  height: 15vw;
}

.image-wrap {
  position: relative;
}

/* RIGHT */
#text-right {
  font-family: 'IBM Plex Sans', monospace;
  font-style: italic;
  color: rgb(125, 114, 114);
  font-size: 3vh;
  padding-bottom: 1.25vh;
  transition: .25s;
}

#text-right:hover {
  padding-left: 2vw;
}

#feature-right {
  width: 35vw;
  position: absolute;
  z-index: 1;
  transition: width .4s;
}

#last-feature-right:hover {
  width: 37vw;
  padding-bottom: 15vw;
}

#last-feature-right {
  width: 35vw;
  position: absolute;
  z-index: 1;
  transition: width .4s;
  padding-bottom: 15vw;
}

#feature-right:hover {
  width: 37vw;
}

#circle-right-1 {
  position:absolute;
  z-index: -1;
  height: 30vw;
  width: 30vw;
  top:0vh;
  left:12vw;
  background: rgba(125, 114, 114, 0.1);
  border-radius: 50%;
}

#circle-right-2 {
  position:absolute;
  z-index: -1;
  height: 30vw;
  width: 30vw;
  top:-17vh;
  left:-8vw;
  background: white;
  border-radius: 50%;
}

/* LEFT */
#text-left {
  font-family: 'IBM Plex Sans', monospace;
  font-style: italic;
  color: rgb(125, 114, 114);
  transition: transform .25s;
  font-size: 3vh;
  padding-bottom: 1.25vh;
  text-align: right;
}

#text-left:hover {
  transform: translateX(-2vw);
}

#feature-left {
  width: 35vw;
  position: absolute;
  z-index: 1;
  transition: width .4s, transform .4s;
}

#feature-left:hover {
  width: 37vw;
  transform: translateX(-2vw);
}

#last-feature-left {
  width: 35vw;
  position: absolute;
  z-index: 1;
  transition: width .4s, transform .4s;
  padding-bottom: 15vw;
}

#last-feature-left:hover {
  width: 37vw;
  transform: translateX(-2vw);
  padding-bottom: 15vw;
}

#circle-left-1 {
  position:absolute;
  z-index: -1;
  height: 30vw;
  width: 30vw;
  top:-20vh;
  left:-2vw;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: white;
}

#circle-left-2 {
  position:absolute;
  z-index: -1;
  height: 30vw;
  width: 30vw;
  top:-5vh;
  left:-8vw;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: rgba(125, 114, 114, 0.1);
}

a {
  text-decoration: none;
}
