html {
  background: #e7e1e0;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  scroll-behavior: smooth;
}

body {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
  margin-right: 0;
  padding-right: 0;
}

#title {
  top:0;
  padding-top: 0;
  margin-top: 0;
  background-image: url("collar.jpg");
  background-size: cover;
  font-family: 'IBM Plex Mono', monospace;
  font-style: italic;
  display: flex;
  color: white;
  width: 100vw;
  height: 111vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#name {
  height:65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#skye {
  font-size: 8vw;
}

#space {
  font-size: 3.5vw;
}

#shannon {
    font-size: 8vw;
}

.body {
  margin-top: -300px;
  position: relative;
  padding-left:0;
  height:130vw;
  width:100vw;
  background-image: linear-gradient(170deg, rgba(255,255,255,0) 15%, rgba(245, 242, 242) 15.05%, rgba(245, 242, 242) 88%, rgba(203, 210, 221, 0.6) 88.05%);
  display: flex;
  flex-direction: row;
  z-index: 0;
}

.arrow-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#arrow {
  max-width: 5vw;
  animation-delay: 1s;
    transition: .25s;
}

#arrow:hover {
  padding-top:-2vh;
}

#left {
  height: 150vh;
  margin-left: 12vw;
  width: 34vw;
  padding-right: 4vw;
}

#right {
  height:150vh;
  margin-right: 12vw;
  width: 34vw;
  padding-left: 4vw;
}

#spacer {
  height: 10vw;
}

#half-spacer {
  height: 5vw;
}

#spacer-vh {
  height: 20vh;
}

#half-spacer-vh {
  height: 10vh;
}

.image-wrap {
  position: relative;
}

/* RIGHT */
#text-right {
  font-family: 'IBM Plex Sans', monospace;
  font-style: italic;
  color: #212020;
  font-size: 2vw;
  padding-bottom: 1vh;
  transition: .25s;
}

#text-right:hover {
  padding-left: 2vw;
}

#feature-right-1 {
  width: 34vw;
  position: absolute;
  z-index: 1;
  transition: width .4s;
}

#feature-right-1:hover {
  width: 36vw;
}

#circle-right-1 {
  position:absolute;
  height: 30vw;
  width: 30vw;
  top:0vh;
  left:12vw;
  background: rgba(203, 210, 221, 0.4);
  border-radius: 50%;
}

#feature-right-2 {
  width: 34vw;
  position: absolute;
  z-index: 1;
  transition: width .4s;
}

#feature-right-2:hover {
  width: 36vw;
}

#circle-right-2 {
  position:absolute;
  z-index: -1;
  height: 42vw;
  width: 42vw;
  top:-17vh;
  left:-8vw;
  background: white;
  border-radius: 50%;
}

/* LEFT */
#text-left-1 {
  font-family: 'IBM Plex Sans', monospace;
  font-style: italic;
  color: #212020;
  font-size: 2vw;
  padding-left: 15vw;
  padding-bottom: 1vh;
  transition: transform .25s;
}

#text-left-1:hover {
  transform: translateX(-2vw);
}

#feature-left-1 {
  width: 32vw;
  position: absolute;
  z-index: 1;
  transition: width .4s, transform .4s;
}

#feature-left-1:hover {
  width: 34vw;
  transform: translateX(-2vw);
}

#circle-left-1 {
  position:absolute;
  z-index: -1;
  height: 35vw;
  width: 35vw;
  top:-24vh;
  left:-8vw;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: white;
}

#text-left-2 {
  font-family: 'IBM Plex Sans', monospace;
  font-style: italic;
  color: #212020;
  font-size: 2vw;
  padding-left: 9.4vw;
  padding-bottom: 1vh;
  transition: transform .25s;
}

#text-left-2:hover {
  transform: translateX(-2vw);
}

#feature-left-2 {
  width: 32vw;
  position: absolute;
  z-index: 1;
  transition: width .4s, transform .4s;
}

#feature-left-2:hover {
  width: 34vw;
  transform: translateX(-2vw);
}

#circle-left-2 {
  position:absolute;
  z-index: -1;
  height: 35vw;
  width: 35vw;
  top:-15vh;
  left:10vw;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: rgba(203, 210, 221, 0.4);
}

#sidebar {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  position: fixed;
  width: 65px;
  height: 165px;
  flex-direction: column;
  z-index: 100;
  right:0;
  top:1vh;
}

#links {
  max-width: 55px;
  fill: white;
}

#links:hover {
  fill: rgba(203, 210, 221);
}

#links-1 {
  padding-left: 2.5px;
  max-width: 50px;
  fill: white;
}

#link-1:hover {
  fill: rgba(203, 210, 221);
}

a:link {
  font-family: 'IBM Plex Sans', monospace;
  color: rgba(129, 148, 180, 0.87);
  font-size: 20pt;
  transition: .25s;
  text-decoration: none;
}
a:visited{
   color: rgba(129, 148, 180, 0.87);
   text-decoration: none;
}
a:hover {
   color: rgba(129, 148, 180, 0.45);
   text-decoration: none;
}
a:active {
   color: rgba(129, 148, 180, 0.45);
   text-decoration: none;
}
