html {
  background: rgb(245, 242, 242);
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  margin-right: 0;
  padding-right: 0;
  scroll-behavior: smooth;
}

body {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
  margin-right: 0;
  padding-right: 0;
}

.body {
  background: rgb(245, 242, 242);
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: -1;
}

#name {
  font-family: 'IBM Plex Mono', monospace;
  font-style: italic;
  font-size: 6vh;
  color: rgb(125, 114, 114);
}

#space {
  font-family: 'IBM Plex Mono', monospace;
  font-style: italic;
  font-size: 2vh;
}

#top {
width: 86vw;
height: 8vh;
display: flex;
flex-direction: row;
align-items: center;
padding-left: 6vw;
padding-right: 6vw;
padding-top: 2vw;
position: absolute;
  }

#title {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#contact {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 3vh;
  right:4vw;
  color: rgb(125, 114, 114);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  height: auto;
  position: absolute;
  justify-content: flex-end;
  align-items: flex-end;
}

#links {
  color: rgba(125, 114, 114);
  text-decoration: none;
}

#links:hover {
  color: rgba(125, 114, 114, 0.3);
  text-decoration: none;
}


#left {
  height: 30vw;
  width: 38vw;
  margin-top: 24vh;
  margin-left: 6vw;
  word-wrap: normal;
}

#right {
  height: 30vw;
  width: 45vw;
  margin-left: 2vw;
  margin-top: 24vh;
  margin-right: 9vw;
}

#image-name {
  font-family: 'IBM Plex Sans', monospace;
  font-style: italic;
  color: rgb(125, 114, 114);
  font-size: 4vh;
}

#image {
   max-width: 45vw;
}

#image-left {
   max-width: 38vw;
   padding-top: 2vw;
}

#image-left-bottom {
   max-width: 38vw;
   padding-top: 2vw;
   padding-bottom: 15vw;
}

#image-right {
   max-width: 45vw;
   padding-top: 2vw;
}

#image-right-bottom {
   max-width: 45vw;
   padding-top: 2vw;
   padding-bottom: 15vw;
}

#description {
  font-family: 'IBM Plex Sans', monospace;
  color: rgb(125, 114, 114);
  font-size: 2vh;
  line-height: 3vh;
}

#spacer {
  height: 4vw;
}

#half-spacer {
  height: 2vw;
}

#spacer-vh {
  height: 4vh;
}

#half-spacer-vh {
  height: 2vh;
}

#circle-1 {
  position:absolute;
  z-index: -1;
  height: 35vw;
  width: 35vw;
  top:20vh;
  left:18vw;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: white;
}

#combo {
  display: flex;
  flex-direction: row;
}

#circle-2 {
  position:absolute;
  z-index: -2;
  height: 50vw;
  width: 50vw;
  top:60vh;
  left:-10vw;
  border-radius: 50%;
  background: rgba(125, 114, 114, 0.1);
}
